<header class="header bg-[#fbfbfb]">
  <div class="container max-w-screen-xl">
    <div class="row v-center lg:flex lg:justify-between">
      <div class="header-item item-left">
        <div class="logo">
          <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img
              src="../../../../assets/images/Logo FPT.png"
              class="h-8 w-24 object-fit"
              alt=""
            />
          </a>
        </div>
      </div>
      <!-- menu start here -->
      <div class="header-item item-center">
        <div class="menu-overlay" (click)="toggleMenu()"></div>
        <nav class="menu">
          <div class="mobile-menu-head">
            <div class="go-back" (click)="hideSubMenu()">
              <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="current-menu-title"></div>
            <div class="mobile-menu-close" (click)="toggleMenu()">&times;</div>
          </div>
          <ul class="menu-main" (click)="subMenu($event)">
            <!-- Home -->
            <li>
              <p href="#">Trang chủ</p>
            </li>
            <!-- Product -->
            <li class="menu-item-has-children">
              <p href="#">
                Sản Phẩm <i class="fa fa-angle-down child-icon"></i>
              </p>
              <div
                class="sub-menu mega-menu mega-menu-column-4 grid lg:grid-cols-3 gap-2"
              >
                <div
                  class="list-item text-center border border-gray-100 rounded-lg relative max-h-40 mr-2"
                >
                  <div class="overlay rounded-lg"></div>
                  <a href="#">
                    <img
                      src="../../../../assets/images/subm-item-1.png"
                      class="max-h-40 object-fill"
                    />
                    <div class="sub-item">
                      <button class="button-m lg:text-sm font-semibold">
                        INTERNET FTTH
                      </button>
                    </div>
                  </a>
                </div>
                <div
                  class="list-item text-center border border-gray-100 rounded-lg relative max-h-40 mr-2"
                >
                  <div class="overlay rounded-lg"></div>
                  <a href="#">
                    <img
                      src="../../../../assets/images/subm-item-2.png"
                      alt="Electronics"
                      class="max-h-40 object-cover"
                    />
                  </a>
                  <div class="sub-item">
                    <button class="button-m lg:text-sm font-semibold">
                      MICROSOFT
                    </button>
                  </div>
                </div>
                <div
                  class="list-item text-center border border-gray-100 rounded-lg relative max-h-40 mr-2"
                >
                  <div class="overlay rounded-lg"></div>
                  <a href="#">
                    <img
                      src="../../../../assets/images/subm-item-3.png"
                      alt="Mobiles"
                      class="max-h-40 object-cover"
                    />
                  </a>
                  <div class="sub-item">
                    <button class="button-m lg:text-sm font-semibold">
                      e-POS
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <!-- Service -->
            <li class="menu-item-has-children">
              <p href="#">
                Giải Pháp & Dịch Vụ <i class="fa fa-angle-down"></i>
              </p>
              <div
                class="sub-menu mega-menu mega-menu-column-4 grid lg:grid-cols-4 gap-2"
              >
                <div
                  class="list-item text-center border border-gray-100 rounded-lg relative max-h-40 mr-2"
                >
                  <div class="overlay rounded-lg"></div>
                  <a href="#">
                    <img
                      src="../../../../assets/images/menu-reading.png"
                      alt="Fashion"
                      class="max-h-40 object-cover"
                    />
                    <button class="button-m py-1 lg:text-xl font-semibold">
                      READING
                    </button>
                  </a>
                </div>
                <div
                  class="list-item text-center border border-gray-100 rounded-lg relative max-h-40 mr-2"
                >
                  <div class="overlay rounded-lg"></div>
                  <a href="#">
                    <img
                      src="../../../../assets/images/menu-listening.png"
                      alt="Electronics"
                      class="max-h-40 object-cover"
                    />
                  </a>
                  <button class="button-m py-1 lg:text-xl font-semibold">
                    LISTENING
                  </button>
                </div>
                <div
                  class="list-item text-center border border-gray-100 rounded-lg relative max-h-40 mr-2"
                >
                  <div class="overlay rounded-lg"></div>
                  <a href="#">
                    <img
                      src="../../../../assets/images/menu-writing.png"
                      alt="Mobiles"
                      class="max-h-40 object-cover"
                    />
                  </a>
                  <button class="button-m py-1 lg:text-xl font-semibold">
                    WRITING
                  </button>
                </div>
                <div
                  class="list-item text-center border border-gray-100 rounded-lg relative max-h-40 mr-2"
                >
                  <div class="overlay rounded-lg"></div>
                  <a href="#">
                    <img
                      src="../../../../assets/images/menu-speaking.png"
                      alt="Appliances"
                      class="max-h-40 object-cover"
                    />
                  </a>
                  <button class="button-m py-1 lg:text-xl font-semibold">
                    SPEAKING
                  </button>
                </div>
              </div>
            </li>
            <!-- Customer -->
            <li routerLink="/courses/overview">
              <p href="#">Khách Hàng</p>
            </li>
            <!-- Partner -->
            <li class="menu-item-has-children">
              <p href="#">
                Đối Tác <i class="fas fa-angle-down child-icon"></i>
              </p>
              <div class="sub-menu single-column-menu">
                <ul>
                  <li><a href="#">Giới thiệu</a></li>
                  <hr />
                  <li><a href="#">Cảm Nhận Học Viên</a></li>
                  <hr />
                  <li><a href="#">Questions & Answers</a></li>
                  <hr />
                </ul>
              </div>
            </li>
            <!-- Contact -->
            <li>
              <p href="#">Liên Hệ</p>
            </li>
          </ul>
        </nav>
      </div>
      <!-- menu end here -->
      <div class="flex justify-end lg:hidden">
        <!-- mobile menu trigger -->
        <div class="mobile-menu-trigger" (click)="toggleMenu()">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>
<div [formGroup]="form" class="card flex justify-content-center">
  <p-dialog [(visible)]="visible" [modal]="true">
    <ng-template pTemplate="headless">
      <div
        class="flex flex-col px-8 py-5 gap-4"
        style="border-radius: 12px; background-color: #f2f4f4"
      >
        <div class="font-medium font-medium">
          Để lại thông tin để được tư vấn miễn phí !
        </div>
        <div class="">
          <label for="username" class="block font-medium text-gray-700"
            >Họ Tên</label
          >
          <input
            pInputText
            style="border-radius: 10px"
            class="w-full bg-white-alpha-20 border-none p-3 text-primary-50"
            formControlName="name"
          />
        </div>

        <div class="">
          <label for="username" class="block font-medium text-gray-700"
            >Email</label
          >
          <input
            pInputText
            style="border-radius: 10px"
            class="w-full bg-white-alpha-20 border-none p-3 text-primary-50"
            formControlName="email"
          />
        </div>
        <div class="">
          <label for="password" class="block text-gray-700 font-medium"
            >Số điện thoại</label
          >
          <input
            pInputText
            style="border-radius: 10px"
            class="w-full bg-white border-1 border-gray-300 p-3 text-primary-50 round"
            formControlName="phone"
          />
        </div>
        <div class="flex align-items-center gap-2 font-medium">
          <p-button
            label="Hủy"
            (click)="closeDialog()"
            [text]="true"
            styleClass="w-full py-2 text-gray-700 border-1 bg-[#ebebeb] border-white-alpha-30 hover:bg-white-alpha-10 font-medium"
            class="w-full"
          ></p-button>
          <p-button
            label="Gửi"
            [text]="true"
            styleClass="w-full py-2 text-white border-1 bg-[#6875f5] border-white-alpha-30 hover:bg-white-alpha-10 font-medium"
            class="w-full"
            [disabled]="!this.form.value?.phone"
            (click)="submitForm()"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</div>
