$color-theme: #2f8ae2;
$color-default: #ffff;
$color-default-hover: #ffff;
$color-primary: #25a4ff;
$color-primary-hover: #0393fb;
$color-secondary: #6c757d;
$color-secondary-hover: #5a6268;
$color-success: #15cf74;
$color-success-hover: #08b25f;
$color-danger: #ff495b;
$color-danger-hover: #fa2c41;
$color-warning: #ffe7e6;
$color-warning-hover: #e0a800;
$color-info: #17a2b8;
$color-info-hover: #138496;
$color-light: #f8f9fa;
$color-light-hover: #e2e6ea;
$color-dark: #343a40;
$color-dark-hover: #23272b;
$color-text: #505050;
$color-icon: #92a4cf;
$color-white: #ffff;
$color-black: #0000;
$color-border: #a1a9bb;
$color-border-focus: #2f8ae2;
$color-box-shadow: rgba(146, 164, 207, 0.5);
$bg-header-table: #e7f1fa;
$color-border-table: rgba(146, 164, 207, 0.4);
$bg-menu-selected: #e6f7ff;
$height-input: 42px;
$font-size: 14px;
$theme-font-color: #000;
$color-button-warning: #fcc800;
$color-button-warning-hover: #f8e083;
$color-button-disabled: #e0e0e0;
$color-default: #66c764;
$color-btn: #58ab57;
$color-box-shadow-button: rgb(0 0 0 / 40%);
$theme-font-family: "Poppins", "Poppins-Regular" !important;
